<div id="details-region">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}}</h3>
  </div>
  <div class="panel-body detailsBook">
    
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="{{smallThumbnail}}" alt="{{title}}">
    </a>
  </div>
  By
 <a> {{authors}}</a>
</br></br>
Pages: {{pageCount}}</br></br>
Category: {{categories}}</br></br>
Language: {{language}}</br></br>
  {{description}}</br></br>
  <a href="{{previewLink}}" target="_blank">Preview Link</a>
</div>

  </div>
</div>
</div>